In [39]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
df  = pd.read_csv(r'..\datasets\basketball\dataset - NBL.csv')

In [40]:
import matplotlib.pyplot as plt
home = df[['home_team', 'score_home', 'score_away']].copy()
#columns = ['home_team','score_home','score_away']
#df1 = pd.DataFrame(df, columns=columns)
home_wins = 0 
away_wins = 0 
total_games = 0 
for i,j in home.iterrows():
    team = j[0]
    home = j[1]
    away = j[2]
    if home > away:
        home_wins += 1.0
    else:
        away_wins += 1.0
total = (home_wins + away_wins)
perc = round(home_wins/total*100, 2)
print("Home Wins: " + str(home_wins) + "->  %" +  str(perc))
print("Away Wins: "+ str(away_wins) + "->  %" +  str(100-perc))
print("Total Games: " + str(total))

Home Wins: 10.0->  %50.0
Away Wins: 10.0->  %50.0
Total Games: 20.0

# New Zealand Basketball League

In [41]:
import matplotlib.pyplot as plt
home = df[['home_team', 'score_home', 'score_away']].copy()
#columns = ['home_team','score_home','score_away']
#df1 = pd.DataFrame(df, columns=columns)
home_wins = 0 
home_lost = 0 
away_wins = 0 
away_lost = 0 
draw = 0
total_games = 0 
for i,j in home.iterrows():

    home = j[1]

    away = j[2]

    if home > away:
        home_wins += 1.0
    if away > home:
        away_wins += 1.0
    if home == away:
        draw += 1.0

total = (home_wins + away_wins + draw)
perc = round(home_wins/total*100, 2)
home_perc = round((home_wins/total) * 100,2)
away_perc = round((away_wins/total) * 100,2)
draw_perc = round((draw/total) * 100,2)

print("Home Wins:  " + str(home_perc)+ "%")
print("Away Wins:  " + str(away_perc) + "%")
print("Draw Games: " + str(draw_perc) + "%")

Home Wins:  50.0%
Away Wins:  50.0%
Draw Games: 0.0%

In [42]:
print(home_wins)
print(away_wins)
print(draw)

10.0
10.0
0

In [43]:
df.head()

,date,home_team,away_team,score_home,score_away,asian handicap,total_line
0,6/23/20,Canterbury Rams,Auckland Huskies,102,70,-20.0,165.0
1,6/23/20,Taranaki Mountainairs,Nelson Giants,112,96,-1.0,178.0
2,6/24/20,Franklin Bulls,Taranaki Mountainairs,95,107,-3.5,180.5
3,6/24/20,Manawatu Jets,Otago Nuggets,100,104,-2.5,183.0
4,6/25/20,Franklin Bulls,Canterbury Rams,72,75,3.5,181.5

In [44]:
df_totals = pd.DataFrame(columns=['Streak Total' ,'Quantity Over', 'Quantity Under'])
for i in range(16):
    df_totals = df_totals.append({'Streak Total': i,'Quantity Over': 0, 'Quantity Under': 0},ignore_index=True )

def fill_dataset_under(u):
    #df_totals = df_totals.append({'Quantity Under': u},ignore_index=True )
    df_totals["Quantity Under"][u] = df_totals["Quantity Under"][u] + 1
    
def fill_dataset_over(o):
    df_totals["Quantity Over"][o] = df_totals["Quantity Over"][o] + 1

In [45]:
totals = df[['home_team','away_team', 'total_line']].copy()
over = 0
under = 0
total = 0


team_stats={}


for i in totals.home_team.unique():

    team_stats[i] = {
                'record': {'win': 0, 'loss': 0, 'tied': 0  },
                'totals': {'over': 0, 'under': 0, 'push': 0  },
                'spread' : {'win':0, 'loss': 0, 'push': 0 },
                'streak_spread' : {'win':0, 'loss': 0},
                'streak_total' : {'over':0, 'under': 0}}
    
    

for i in totals.away_team.unique():
    if i not in team_stats:
       
        team_stats[i] = {
                    'record': {'win': 0, 'loss': 0, 'tied': 0  },
                    'totals': {'over': 0, 'under': 0, 'push': 0 },
                    'spread' : {'win':0, 'loss': 0, 'push': 0 },
                    'streak_spread' : {'win':0, 'loss': 0},
                    'streak_total' : {'over':0, 'under': 0}}




print(len(team_stats.keys()))

7

In [46]:
#spread logic  
for ind in df.index: 
    asian_handicap_result = df['score_home'][ind] + df['asian handicap'][ind]
    spread_line = df['asian handicap'][ind]
    away_score = df['score_away'][ind]
    
    print(df['home_team'][ind])
    print(asian_handicap_result)
    print(spread_line)

    if (asian_handicap_result > away_score):
        team_stats[df['home_team'][ind]]['spread']['win']+=1
        team_stats[df['away_team'][ind]]['spread']['loss']+=1
        team_stats[df['home_team'][ind]]['streak_spread']['win'] +=1
        team_stats[df['home_team'][ind]]['streak_spread']['loss'] = 0
        team_stats[df['away_team'][ind]]['streak_spread']['loss'] +=1
        team_stats[df['away_team'][ind]]['streak_spread']['win'] = 0
        
    if (away_score > asian_handicap_result ):
        team_stats[df['home_team'][ind]]['spread']['loss']+=1
        team_stats[df['away_team'][ind]]['spread']['win']+=1
        team_stats[df['away_team'][ind]]['streak_spread']['win'] +=1
        team_stats[df['home_team'][ind]]['streak_spread']['loss'] += 1
        team_stats[df['away_team'][ind]]['streak_spread']['loss'] = 0
        team_stats[df['home_team'][ind]]['streak_spread']['win'] = 0
    if(asian_handicap_result == away_score ):
        team_stats[df['home_team'][ind]]['spread']['push']+=1
        team_stats[df['away_team'][ind]]['spread']['push']+=1

Canterbury Rams
82.0
-20.0
Taranaki Mountainairs
111.0
-1.0
Franklin Bulls
91.5
-3.5
Manawatu Jets
97.5
-2.5
Franklin Bulls
75.5
3.5
Otago Nuggets
100.5
-6.5
Auckland Huskies
68.5
1.5
Canterbury Rams
108.5
-3.5
Franklin Bulls
56.5
-6.5
Nelson Giants
92.5
4.5
Taranaki Mountainairs
82.5
-10.5
Nelson Giants
65.5
-3.5
Taranaki Mountainairs
111.5
4.5
Manawatu Jets
106.5
-1.5
Otago Nuggets
68.5
-10.5
Canterbury Rams
84.5
-5.5
Franklin Bulls
84.5
1.5
Canterbury Rams
78.5
1.5
Auckland Huskies
84.5
1.5
Manawatu Jets
111.5
9.5

In [47]:
#Totals logic
for ind in df.index: 
    total_result = df['score_home'][ind] + df['score_away'][ind]
    total_line = df['total_line'][ind]

    if (total_result > total_line):
        team_stats[df['home_team'][ind]]['totals']['over']+=1
        team_stats[df['away_team'][ind]]['totals']['over']+=1
        team_stats[df['home_team'][ind]]['streak_total']['over']+=1
        team_stats[df['away_team'][ind]]['streak_total']['over']+=1
        
        if team_stats[df['home_team'][ind]]['streak_total']['under'] > 0:
            fill_dataset_under(team_stats[df['home_team'][ind]]['streak_total']['under'])
            
        if team_stats[df['away_team'][ind]]['streak_total']['under'] > 0:
            fill_dataset_under(team_stats[df['away_team'][ind]]['streak_total']['under'])
            
        team_stats[df['home_team'][ind]]['streak_total']['under'] = 0 
        team_stats[df['away_team'][ind]]['streak_total']['under'] = 0
        
        
    if(total_line > total_result):
        team_stats[df['home_team'][ind]]['totals']['under']+=1
        team_stats[df['away_team'][ind]]['totals']['under']+=1
        team_stats[df['home_team'][ind]]['streak_total']['under']+=1
        team_stats[df['away_team'][ind]]['streak_total']['under']+=1
        
        
        if team_stats[df['home_team'][ind]]['streak_total']['over'] > 0:
            fill_dataset_over(team_stats[df['home_team'][ind]]['streak_total']['over'])
            
        if team_stats[df['away_team'][ind]]['streak_total']['over'] > 0:
            fill_dataset_over(team_stats[df['away_team'][ind]]['streak_total']['over'])
            
            
        team_stats[df['home_team'][ind]]['streak_total']['over'] = 0 
        team_stats[df['away_team'][ind]]['streak_total']['over'] = 0
        
        
    if (total_result == total_line):
        team_stats[df['home_team'][ind]]['totals']['push']+=1
        team_stats[df['away_team'][ind]]['totals']['push']+=1
        
    print(ind)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [48]:
# Amount of winning and losing logic 
for ind in df.index: 
    home = df['score_home'][ind]
    away = df['score_away'][ind]
    if (home > away ): 
        team_stats[df['home_team'][ind]]['record']['win']+=1
        team_stats[df['away_team'][ind]]['record']['loss']+=1
    
    if(away > home):
        team_stats[df['away_team'][ind]]['record']['win']+=1
        team_stats[df['home_team'][ind]]['record']['loss']+=1
    if(away == home):
        team_stats[df['home_team'][ind]]['record']['tied']+=1
        team_stats[df['away_team'][ind]]['record']['tied']+=1

In [49]:
dict_team=sorted(team_stats.keys(), key=lambda x:x.lower())
print("New Zealand  Basketablll TRENDS")
print()
for i in dict_team:
    print(i + ":")
    
    amount_spread_games = team_stats[i]['spread']['win'] + team_stats[i]['spread']['loss'] 
    amount_total_games = team_stats[i]['totals']['over'] + team_stats[i]['totals']['under']
    
    temp_win = round((team_stats[i]['spread']['win'] / amount_spread_games ) * 100,2)
    temp_lost = round((team_stats[i]['spread']['loss']  / amount_spread_games ) * 100,2)
    temp_over = round((team_stats[i]['totals']['over'] / amount_total_games ) * 100,2)
    temp_under = round((team_stats[i]['totals']['under']  / amount_total_games ) * 100,2)
    temp_record_winning = round((team_stats[i]['record']['win']  / amount_total_games ) * 100,2)
    temp_record_losing = round((team_stats[i]['record']['loss']  / amount_total_games ) * 100,2)
    
    #print("                Record Win:  " + str(temp_record_winning) + '%   ---------  ', end="")
    #print("              Record Loss:  " + str(temp_record_losing) + '%  ---------  ')
    
    
    print("                Spread Win:  " + str(temp_win) + '%   ---------  ', end="")
    print("             Spread Loss:  " + str(temp_lost) + '%  ---------  ')
    
    print("                Total Over:  " + str(temp_over) +  '%  ---------  ', end="")
    print("              Total Under:  " + str(temp_under) + '%  ---------  ')
    
    print("                Streak Over:  $" + str(team_stats[i]['streak_total']['over']  )+  '  ---------  ', end="")
    print("                Streak Under:  $" +  str(team_stats[i]['streak_total']['under']  ) + '  ---------  ')
    
    print("                Streak Win:   $" + str(team_stats[i]['streak_spread']['win']  )+  '  ---------  ', end="")
    print("                Streak Loss:   $" +  str(team_stats[i]['streak_spread']['loss']  ) + '  ---------  ')

    
    #print("                Spread Push: " + str(temp_lost)+ '%  ---------  ', end="")
    #print("               Total Push:  " + str(temp_under) + '%  ---------  ')

New Zealand  Basketablll TRENDS

Auckland Huskies:
                Spread Win:  40.0%   ---------               Spread Loss:  60.0%  ---------
                Total Over:  40.0%  ---------                Total Under:  60.0%  ---------
                Streak Over:  $0  ---------                  Streak Under:  $1  ---------
                Streak Win:   $0  ---------                  Streak Loss:   $1  ---------
Canterbury Rams:
                Spread Win:  33.33%   ---------               Spread Loss:  66.67%  ---------
                Total Over:  66.67%  ---------                Total Under:  33.33%  ---------
                Streak Over:  $0  ---------                  Streak Under:  $1  ---------
                Streak Win:   $0  ---------                  Streak Loss:   $3  ---------
Franklin Bulls:
                Spread Win:  66.67%   ---------               Spread Loss:  33.33%  ---------
                Total Over:  16.67%  ---------                Total Under:  83.33%  ---------
                Streak Over:  $0  ---------                  Streak Under:  $5  ---------
                Streak Win:   $3  ---------                  Streak Loss:   $0  ---------
Manawatu Jets:
                Spread Win:  50.0%   ---------               Spread Loss:  50.0%  ---------
                Total Over:  33.33%  ---------                Total Under:  66.67%  ---------
                Streak Over:  $0  ---------                  Streak Under:  $2  ---------
                Streak Win:   $1  ---------                  Streak Loss:   $0  ---------
Nelson Giants:
                Spread Win:  50.0%   ---------               Spread Loss:  50.0%  ---------
                Total Over:  33.33%  ---------                Total Under:  66.67%  ---------
                Streak Over:  $0  ---------                  Streak Under:  $1  ---------
                Streak Win:   $2  ---------                  Streak Loss:   $0  ---------
Otago Nuggets:
                Spread Win:  60.0%   ---------               Spread Loss:  40.0%  ---------
                Total Over:  20.0%  ---------                Total Under:  80.0%  ---------
                Streak Over:  $0  ---------                  Streak Under:  $4  ---------
                Streak Win:   $1  ---------                  Streak Loss:   $0  ---------
Taranaki Mountainairs:
                Spread Win:  50.0%   ---------               Spread Loss:  50.0%  ---------
                Total Over:  66.67%  ---------                Total Under:  33.33%  ---------
                Streak Over:  $0  ---------                  Streak Under:  $2  ---------
                Streak Win:   $0  ---------                  Streak Loss:   $1  ---------

In [50]:
df.tail()

,date,home_team,away_team,score_home,score_away,asian handicap,total_line
15,7/2/20,Canterbury Rams,Nelson Giants,90,97,-5.5,179.0
16,7/3/20,Franklin Bulls,Manawatu Jets,83,72,1.5,176.5
17,7/4/20,Canterbury Rams,Otago Nuggets,77,87,1.5,187.5
18,7/4/20,Auckland Huskies,Nelson Giants,83,91,1.5,177.5
19,7/5/20,Manawatu Jets,Taranaki Mountainairs,102,93,9.5,196.5

In [51]:
"""
team_stats[i] = {
                    'record': {'win': 0, 'loss': 0, 'tied': 0  },
                    'totals': {'over': 0, 'under': 0, 'push': 0 },
                    'spread' : {'win':0, 'loss': 0, 'push': 0 }}
"""

#print(team_stats['Viking'])

"\nteam_stats[i] = {\n                    'record': {'win': 0, 'loss': 0, 'tied': 0  },\n                    'totals': {'over': 0, 'under': 0, 'push': 0 },\n                    'spread' : {'win':0, 'loss': 0, 'push': 0 }}\n"

In [52]:
df

,date,home_team,away_team,score_home,score_away,asian handicap,total_line
0,6/23/20,Canterbury Rams,Auckland Huskies,102,70,-20.0,165.0
1,6/23/20,Taranaki Mountainairs,Nelson Giants,112,96,-1.0,178.0
2,6/24/20,Franklin Bulls,Taranaki Mountainairs,95,107,-3.5,180.5
3,6/24/20,Manawatu Jets,Otago Nuggets,100,104,-2.5,183.0
4,6/25/20,Franklin Bulls,Canterbury Rams,72,75,3.5,181.5
5,6/25/20,Otago Nuggets,Nelson Giants,107,82,-6.5,194.5
6,6/27/20,Auckland Huskies,Manawatu Jets,67,95,1.5,190.0
7,6/27/20,Canterbury Rams,Taranaki Mountainairs,112,101,-3.5,178.0
8,6/28/20,Franklin Bulls,Auckland Huskies,63,59,-6.5,172.5
9,6/28/20,Nelson Giants,Manawatu Jets,88,83,4.5,191.5
10,6/29/20,Taranaki Mountainairs,Auckland Huskies,93,109,-10.5,186.5
11,6/30/20,Nelson Giants,Franklin Bulls,69,75,-3.5,170.5
12,6/30/20,Taranaki Mountainairs,Otago Nuggets,107,81,4.5,202.5
13,7/1/20,Manawatu Jets,Canterbury Rams,108,93,-1.5,185.5
14,7/1/20,Otago Nuggets,Franklin Bulls,79,85,-10.5,175.0
15,7/2/20,Canterbury Rams,Nelson Giants,90,97,-5.5,179.0
16,7/3/20,Franklin Bulls,Manawatu Jets,83,72,1.5,176.5
17,7/4/20,Canterbury Rams,Otago Nuggets,77,87,1.5,187.5
18,7/4/20,Auckland Huskies,Nelson Giants,83,91,1.5,177.5
19,7/5/20,Manawatu Jets,Taranaki Mountainairs,102,93,9.5,196.5

In [53]:
df_totals

   Streak Total Quantity Over Quantity Under
0             0             0              0
1             1             9              1
2             2             0              2
3             3             1              1
4             4             1              0
5             5             0              0
6             6             0              0
7             7             0              0
8             8             0              0
9             9             0              0
10           10             0              0
11           11             0              0
12           12             0              0
13           13             0              0
14           14             0              0
15           15             0              0

In [57]:
df_ats_trends = pd.DataFrame(columns = ['Team', 'ATS Record', 'Cover %', 'Streak Win', 'Streak Loss'])
df_total_trends = pd.DataFrame( columns = ['Team', 'Total Record', 'Over %', 'Streak Over', 'Streak Under'])

for i in dict_team:
    df_ats_trends = df_ats_trends.append({'Team': i,
                                          'ATS Record': str(team_stats[i]['spread']['win']) + '-' + str(team_stats[i]['spread']['loss']),
                                          'Cover %' : round(team_stats[i]['spread']['win'] / (team_stats[i]['spread']['win'] + team_stats[i]['spread']['loss']),2),
                                          'Streak Win': team_stats[i]['streak_spread']['win'],
                                          'Streak Loss': team_stats[i]['streak_spread']['loss']},ignore_index=True )
    

    df_total_trends = df_total_trends.append({'Team': i,
                                          'Total Record': str(team_stats[i]['totals']['over']) + '-' + str(team_stats[i]['totals']['under']),
                                          'Over %' : round(team_stats[i]['totals']['over'] / (team_stats[i]['totals']['over'] + team_stats[i]['totals']['under']),2),
                                          'Streak Over': team_stats[i]['streak_total']['over'],
                                          'Streak Under': team_stats[i]['streak_total']['under']},ignore_index=True )

In [58]:
df_ats_trends

                    Team ATS Record  Cover % Streak Win Streak Loss
0       Auckland Huskies        2-3     0.40          0           1
1        Canterbury Rams        2-4     0.33          0           3
2         Franklin Bulls        4-2     0.67          3           0
3          Manawatu Jets        3-3     0.50          1           0
4          Nelson Giants        3-3     0.50          2           0
5          Otago Nuggets        3-2     0.60          1           0
6  Taranaki Mountainairs        3-3     0.50          0           1

In [59]:
df_total_trends

                    Team Total Record  Over % Streak Over Streak Under
0       Auckland Huskies          2-3    0.40           0            1
1        Canterbury Rams          4-2    0.67           0            1
2         Franklin Bulls          1-5    0.17           0            5
3          Manawatu Jets          2-4    0.33           0            2
4          Nelson Giants          2-4    0.33           0            1
5          Otago Nuggets          1-4    0.20           0            4
6  Taranaki Mountainairs          4-2    0.67           0            2